.container-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
}

.container-categories::-webkit-scrollbar {
  display: none;
}
