.btn-category {
  border-radius: 16px;
  padding: 12px;
  margin-top: 12px;
  border: none;
  color: white;
  background-color: rgb(180, 180, 253);
}

.btn-category-active {
  border-radius: 16px;
  padding: 12px;
  margin-top: 12px;
  border: none;
  color: white;
  background-color: rgb(112, 112, 255);
}
