.btn-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  padding: 8px;
  margin-top: 12px;
  border: 1px solid rgb(112, 112, 255);
  color: rgb(112, 112, 255);
  background-color: white;
  font-size: 14px;
}

.btn-category-active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  padding: 8px;
  margin-top: 12px;
  border: 2px solid white;
  color: white;
  background-color: rgb(112, 112, 255);
  font-size: 14px;
}
